
<footer class="page-footer blue">
    <div class="footer-copyright">
        <div class="container">
            @Localizer["Made by"] <a class="orange-text text-lighten-3">eXtremeDevelopers</a>
        </div>
    </div>
</footer>

<script>
        $(document).ready(function () {
            $('#mobile-menu').sidenav();
        });
</script>
