<!DOCTYPE html>
<html>
<head>
    <partial name="_HeaderPartial" />
</head>
<body>
    <partial name="_NavPartial" />
    <main>
        <div class="container">
            <div id="login-page" class="row">
                
                <div class="col s12 offset-m3 m6 z-depth-6 card-panel">
                    @RenderBody()
                </div>
            </div>
        </div>
</main>
    <partial name="_FooterPartial" />
    @RenderSection("Scripts", required: false)
</body>
</html>
