@using Microsoft.AspNetCore.Identity

<ul class="nav navbar-nav navbar-right">
    <li><a asp-area="Identity" asp-page="/Account/Register">@Localizer["Register"]</a></li>
    <li><a asp-area="Identity" asp-page="/Account/Login">@Localizer["Login"]</a></li>
</ul>
