

<header>
    <!-- Dropdown Structure -->
    <nav class="navbar-fixed blue">
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo"><img src="~/images/logo.png" style="height:100%" /></a>
            <a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <partial name="_MenuPartial" />
            </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-menu">
        <partial name="_MenuPartial" />
    </ul>
</header>