@model XtremeDoctors.Models.Doctor

<div class="container">
    <div class="row">
        @foreach (Doctor doctor in (Doctor[])ViewBag.doctors)
        {
            <div class="col s12 m6">
                <div class="card-panel grey lighten-5 z-depth-1">
                    <div class="row valign-wrapper">

                        <div class="col s12">
                            <span class="black-text">
                                <div class="col s2">
                                    <img src="https://materializecss.com/images/yuna.jpg" alt="" class="circle  responsive-img" />
                                </div>
                                <div class="col s10">
                                <strong>@doctor.Name @doctor.Surname</strong><br />
                                <i>Ginekolog specjalista</i>
                                <blockquote>
                                    Zbadam Cię bardzo tanio
                                </blockquote>
                                </div>
                                <table class="striped">
                                    <tbody>
                                        <tr>
                                            <td>Poniedziałek</td>
                                            <td>7:00 - 14:00</td>
                                        </tr>
                                        <tr>
                                            <td>Wtorek</td>
                                            <td>7:00 - 14:00</td>
                                        </tr>
                                        <tr>
                                            <td>Środa</td>
                                            <td>7:00 - 14:00</td>
                                        </tr>
                                        <tr>
                                            <td>Czwartek</td>
                                            <td>7:00 - 14:00</td>
                                        </tr>
                                        <tr>
                                            <td>Piątek</td>
                                            <td>7:00 - 14:00</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br />
                                <a class="waves-effect waves-light btn-large right green"><i class="material-icons left">add_box</i>Umów się</a>
                                Najbliższy wolny termin <strong><span class="green-text">jutro</span></strong>!<br />
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        }
        </div>
</div>

