@model XtremeDoctors.Models.Doctor

@{
    Doctor doctor = ViewBag.doctor;
}
    <div class="container">
        <div class="row">
            <div class="col s12 m6">
                <div class="card-panel grey lighten-5 z-depth-1">
                    <div class="row valign-wrapper">

                        <div class="col s12">
                            <span class="black-text">
                                <div class="col s12">
                                    <img src="https://materializecss.com/images/yuna.jpg" alt="" class="circle  responsive-img" />
                                </div>
                                <div class="col s12">
                                    <strong>@doctor.Name @doctor.Surname</strong><br />
                                    <i>Ginekolog specjalista</i>
                                    <blockquote>
                                        Zbadam Cię bardzo tanio
                                    </blockquote>
                                </div>

                                <table class="striped">
                                    <tbody>
                                        <tr>
                                            <td>Poniedziałek</td>
                                            <td>7:00 - 14:00</td>
                                        </tr>
                                        <tr>
                                            <td>Wtorek</td>
                                            <td>7:00 - 14:00</td>
                                        </tr>
                                        <tr>
                                            <td>Środa</td>
                                            <td>7:00 - 14:00</td>
                                        </tr>
                                        <tr>
                                            <td>Czwartek</td>
                                            <td>7:00 - 14:00</td>
                                        </tr>
                                        <tr>
                                            <td>Piątek</td>
                                            <td>7:00 - 14:00</td>
                                        </tr>
                                    </tbody>
                                </table>


</div>
                    </div>

                </div>
            </div>

            <div class="col s12 m6">
                <div class="card-panel grey lighten-5 z-depth-1">
                    <div class="row valign-wrapper">

                        <div class="col s12">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Termin</th>
                                        <th>Czas</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>10:53</td>
                                        <td>15 minut</td>
                                        <td><a class="waves-effect waves-light btn-large right green"><i class="material-icons left">add_box</i>Umów się</a></td>
                                    </tr>
                                    <tr>
                                        <td>10:53</td>
                                        <td>15 minut</td>
                                        <td><a class="waves-effect waves-light btn-large right green"><i class="material-icons left">add_box</i>Umów się</a></td>
                                    </tr>
                                    <tr>
                                        <td>10:53</td>
                                        <td>15 minut</td>
                                        <td><a class="waves-effect waves-light btn-large right green"><i class="material-icons left">add_box</i>Umów się</a></td>
                                    </tr>
                                    <tr>
                                        <td>10:53</td>
                                        <td>15 minut</td>
                                        <td><a class="waves-effect waves-light btn-large right green"><i class="material-icons left">add_box</i>Umów się</a></td>
                                    </tr>
                                    <tr>
                                        <td>10:53</td>
                                        <td>15 minut</td>
                                        <td><a class="waves-effect waves-light btn-large right green"><i class="material-icons left">add_box</i>Umów się</a></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>